<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="n"></label>
            <select name="name" id="n" multiple>
                {% for name in webpage %}
                <option value="{{name.pk}}">{{ name.name }}</option>
                {% endfor %}
            </select>
            <br><br>

            <input type="submit" value="Click to See">
        </form>
    </center>
</body>

</html>
</body>

</html>